body {
    margin: 0px;
    padding-top: 100px;
}
#control {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}
#control img {
    display: block; 
    height: 25%;
}
.juego {
    width: 33.3%;
    float: left;
    opacity: 0.2;
}
.juego img {
    width: 100%;
}
