@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    color:white;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}
a {
    color: green;
}
