@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: white;
    color:black;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin:auto;
}
h2 {
    font-size: 1em;
}
a {
    color: black;
}

img {
    width: 80px;
    margin-right: 10px;
    border: 5px dotted #8DA48A;
}

#titulo {
    text-align: center;
}

footer {
    height: 100px;
}

.logo {
    margin-top: 50px;
}